<template>
  <v-app-bar app color="primary" dark>
    <div class="d-flex align-center">
      <v-btn text @click="$router.push('/')">
        <span class="mr-2">Recipes</span>
        <v-icon>mdi-paper-roll-outline</v-icon>
      </v-btn>
      <v-badge color="error" :content="getCount" overlap bottom>
        <v-btn text @click="$router.push('shopping-list')">
          <span class="mr-2">Shopping list</span>
          <v-icon>mdi-clipboard-list-outline</v-icon>
        </v-btn>
      </v-badge>
    </div>
    <v-spacer></v-spacer>
  </v-app-bar>
</template>

<script>
export default {
  computed: {
    getCount() {
      return this.$store.getters['shoppingList/getItemsCount'];
    },
  },
};
</script>

<style></style>
