<template>
  <div class="home px-14 mt-5">
    <v-data-table :headers="headers" :items="recipes" hide-default-footer>
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Recipes</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="800px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
                New Recipe
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="6">
                      <v-file-input
                        chips
                        @change="choosFile"
                        label="Recipe image"
                      ></v-file-input>
                    </v-col>
                    <v-col cols="6">
                      <img
                        style="max-width:150px"
                        v-if="editedItem.image"
                        :src="editedItem.image"
                      />
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.name"
                        label="Recipe name"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        v-model="editedItem.description"
                        label="Recipe description"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <ingredients
                        :ingredients="editedItem.ingredients"
                        @update="setIngredients"
                      />
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">
                  Cancel
                </v-btn>
                <v-btn color="blue darken-1" text @click="save">
                  Save
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="headline"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon  class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon  class="mr-2" @click="deleteItem(item)">
          mdi-delete
        </v-icon>
        <v-icon  @click="addToCart(item)">
          mdi-cart-plus
        </v-icon>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import Ingredients from '@/components/Ingredients.vue'
export default {
  name: "Recipes",
  components:{Ingredients},
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      { text: "Name", value: "name", sortable: false, align: 'center' },
      { text: "Description", value: "description", sortable: false, align: 'center' },
      { text: "Actions", value: "actions", sortable: false, align: 'center' },
    ],
    editedIndex: -1,
    editedItem: {},
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Recipe" : "Edit Recipe";
    },
    recipes() {
      return this.$store.getters['recipe/getRecipes'];
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  methods: {
    addToCart(item) {
      this.$store.dispatch('shoppingList/addToList', item);
    },
    setIngredients(event) {
      this.editedItem.ingredients = event
    },
    editItem(item) {
      this.editedIndex = this.recipes.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    choosFile(event) {
      if(!event) {
        this.editedItem.image = null;
        return;
        }
      let reader = new FileReader();
      var file = event;
      reader.onload = (e) => {
        let dataURI = e.target.result;
        if (dataURI) {
          this.editedItem.image = dataURI
        }
      };
      reader.readAsDataURL(file);
    },
    deleteItem(item) {
      this.editedIndex = this.recipes.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.$store.dispatch('recipe/removeRecipe', this.editedIndex)
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.editedItem = {};
      this.editedIndex = -1;
    },

    closeDelete() {
      this.dialogDelete = false;
      this.editedItem = {};
      this.editedIndex = -1;
    },

    save() {
      if (this.editedIndex != -1) {
        this.$store.dispatch('recipe/editRecipe', {
          idx: this.editedIndex,
          recipe: this.editedItem
        })
      } else {
        this.$store.dispatch('recipe/addRecipe', this.editedItem)
      }
      this.close();
    },
  },
};
</script>
