<template>
  <div >
    <ingredients title="Shopping List" :ingredients="getIngredients" />
  </div>
</template>

<script>
import Ingredients from "@/components/Ingredients.vue";
export default {
  name: "Recipes",
  components: { Ingredients },
  data: () => ({}),
  computed: {
    getIngredients() {
      let items = [];
      let all = this.$store.getters["shoppingList/getItems"];
      all.forEach((item) => {
        items = items.concat(item.ingredients)
      });
      return items;
    },
  },
  watch: {},
  methods: {},
};
</script>
