.text-input {
    color: #000;
    border: 1px solid $primary;

    &::-webkit-input-placeholder
    /* Chrome/Opera/Safari */
        {
        color: black
    }
    &::-moz-placeholder
    /* Firefox 19+ */
        {
        color: black
    }

    &:-ms-input-placeholder

    /* IE 10+ */
        {
        color: black
    }

    &:-moz-placeholder

    /* Firefox 18- */
        {
        color: black
    }

    &:focus {
        color: white;
        &::-webkit-input-placeholder

        /* Chrome/Opera/Safari */
            {
            color: white
        }

        &::-moz-placeholder

        /* Firefox 19+ */
            {
            color: white
        }

        &:-ms-input-placeholder

        /* IE 10+ */
            {
            color: white
        }

        &:-moz-placeholder

        /* Firefox 18- */
            {
            color: white
        }

        background-color: $primary
    }
}

.form-item {
    width: 200px;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    font-weight: 500;
    height: 55px;
    border-radius: 27px;
    padding: 0 55px;
    transition: all .3s ease;
}

.submit-button {
    border: none;
    background-color: $primary !important;
    color: white;
    transition: all .5s ease;
    height: 50px;

    &:hover {
        background-color: darken($primary, 45%);
        cursor: pointer;
    }
}