.login-box {
    display: block;
    max-width: 500px;
    height: 500px;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;

    .header {
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
        text-align: center;
        background-color: $primary;
    }

    //font-size: 30px
    .body {
        padding-left: 55px;
        padding-right: 55px;
    }

    .text-input {
        width: 100% !important;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    &:focus {
        width: 105% !important;
    }

    .submit-button {
        width: 100% !important;
        margin-top: 20px !important;
    }

}

@media (max-width: 450px) {
    .login-box {
        .body {
            padding: 10px
        }
    }
}