<template>
  <v-app>
    <navbar v-if="$route.path !== '/login'" />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/layout/Navbar.vue";
export default {
  components: { Navbar },
  name: "App",
  mounted() {
    this.initData();
    if(this.$store.getters['user/isLoggedIn']){
      this.$router.push('/')
    }
    else this.$router.push('/login')
  },
  data: () => ({
    //
  }),
  methods: {
    initData() {
      this.$store.dispatch("user/updateSession");
      this.$store.dispatch("user/initUsers");
      this.$store.dispatch("recipe/initRecipes");
      this.$store.dispatch("shoppingList/initItems");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "~@/assets/scss/main.scss";
</style>
