<template>
  <v-card class="px-4">
    <v-card-text>
      <v-form ref="loginForm" v-model="valid" lazy-validation>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="user.email"
              :rules="loginEmailRules"
              label="E-mail"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              v-model="user.password"
              :append-icon="showPassword ? 'eye' : 'eye-off'"
              :rules="[rules.required, rules.min]"
              :type="showPassword ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              hint="At least 8 characters"
              counter
              @click:append="showPassword = !showPassword"
            ></v-text-field>
          </v-col>
          <v-col class="d-flex" cols="12" sm="6" xsm="12"> </v-col>
          <v-spacer></v-spacer>
          <v-col class="d-flex" cols="12" sm="3" xsm="12" align-end>
            <v-btn
              x-large
              block
              :disabled="!valid"
              color="success"
              @click="validate"
            >
              Login
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card-text>
    <v-snackbar v-model="notify" :timeout="2000">
      {{ msg }}
    </v-snackbar>
  </v-card>
</template>

<script>
export default {
  methods: {
    successLogin() {
      this.msg = "User is correct";
      this.$router.push("/");
    },
    failLogin() {
      this.msg = "User is incorrect";
    },
    validate() {
      if (this.$refs.loginForm.validate()) {
        this.$store
          .dispatch("user/login", this.user)
          .then(() => {this.successLogin()})
          .catch(() => {this.failLogin()})
        this.notify = true;
      } else {
        this.msg = "Please fill all required fields";
        this.notify = true;
      }
    },
  },
  data: () => ({
    loginEmail: "",
    user: {
      email: "",
      password: "",
    },
    loginEmailRules: [
      (v) => !!v || "Required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    rules: {
      required: (value) => !!value || "Required.",
      min: (v) => (v && v.length >= 8) || "Min 8 characters",
    },
    msg: "",
    notify: false,
    valid: true,
    showPassword: false,
  }),
};
</script>

<style></style>
